@import "./index.css";

body {
  background-color: var(--neutral-color-off-white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  color: var(--neutral-color-very-dark-blue);
}

p {
  color: var(--neutral-color-grayish-blue);
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: "1fr";
  gap: 20px;
  grid-template-areas:
    "header"
    "section"
    "aside"
    "footer";
}

@media (min-width: 968px) {
  .grid-container {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "header header"
      "section aside"
      "footer footer";
  }
}
